.login-info{
    select{
        width: 380px;
        height: 48px;
        display: inline-block;
        background: none;
        border: none;
        border-bottom: 1px solid #113d2b;
        margin-top: 20px;
        line-height: 48px;
        font-size: 18px;
        text-indent: 48px;
        color: #113d2b;
        option{
            display: inline-block;
            color: #113d2b;
            border: none;
            line-height: 38px;
            padding-right: 18px;
        }
    }
    .course{
        background: url(../../images/icon-course.png) 8px center no-repeat;
    }
    .identity{
        background: url(../../images/icon-identity.png) 8px center no-repeat;
    }
    .btn-register{
        display: inline-block;
        width: 380px;
        height: 48px;
        margin-top: 16px;
        a{
            float: left;
            color: #fff;
            display: inline-block;
            font-size: 18px;
            padding: 12px 60px;
            border-radius: 5px;
        }
        .btn-sign{
            background: #8f4306;
            margin-right: 32px;
        }
        .btn-resect{
            background: #113d2b;
        }
    }
}