/*! normalize-opentype v0.1.2 | MIT License | kennethormandy.com/journal/normalize-opentype-css */
/**
     * 1. Turn on kerning, standard ligatures, and proportional, oldstyle numerals
     *    Turn off all other ligatures, tabular, lining numerals, and alternates
     */
html,
body {
  font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0;
  /* 1. */
}
/* Headings
    ========================================================================== */
/**
     * 1. Turn on discretionary ligatures for larger headings
     */
h1,
h2,
h3 {
  font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 1;
  /* 1. */
}
/* Text-level semantics
    ========================================================================== */
/**
     * 1. Change all letters to uppercase
     * 2. Turn on small caps for upper and lowercase letters
     */
abbr {
  text-transform: uppercase;
  /* 1 */
  font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "smcp" 1, "c2sc" 1;
  /* 2 */
}
/*
     * TODO: Turn on diagonal fractions where appropriate
     */
time {
  font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0;
}
/*
     * 1. Turn off kerning and ligatures,
     *    Turn on lining, tabular numerals, slashed zero
     */
pre,
kbd,
samp,
code {
  font-feature-settings: "kern" 0, "liga" 0, "dlig" 0, "pnum" 0, "tnum" 1, "onum" 0, "lnum" 1, "zero" 1;
  /* 1. */
}
/**
     * 1. Turn on proper supercript numerals
     */
sup {
  font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0, "sups" 1;
  /* 1. */
}
/**
     * 1. Turn on proper subscript numerals
     */
sub {
  font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0, "subs" 1;
  /* 1. */
}
/* Tables
    ========================================================================== */
/**
     * 1. Turns on tabular, lining numerals and slashed zero
     *    Turns off kerning, as it could impact tabular numerals
     */
table {
  font-feature-settings: "kern" 0, "liga" 1, "pnum" 0, "tnum" 1, "onum" 0, "lnum" 1, "zero" 1;
  /* 1. */
}
/**
     * 1. Revert to defaults for table headings
     */
table thead,
table tfoot {
  font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0;
  /* 2. */
}
/* Forms
    ========================================================================== */
/**
     * 1. Turns on lining, proportional numerals without clarified zeroes
     * TODO: Additional input modes https://developer.mozilla.org/en/docs/Web/HTML/Element/Input#attr-inputmode
     */
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="number"],
input[type="range"],
input[type="tel"],
input[type="week"] {
  font-feature-settings: "kern" 0, "liga" 1, "pnum" 1, "tnum" 0, "onum" 0, "lnum" 1, "zero" 0;
  /* 1. */
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
main {
  display: block;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]),
[hidden] {
  display: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
main {
  display: block;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]),
[hidden] {
  display: none;
}
body {
  font-family: "ff-tisa-web-pro-1", "ff-tisa-web-pro-2", "Lucida Grande", "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", "wenquanyi micro hei", sans-serif;
  color: #3b473f;
  font-size: 14px;
  background: #f4edeb;
}
a {
  color: #113d2b;
  text-decoration: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
td,
th {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
ul,
ol,
li {
  list-style: none;
}
textarea::-webkit-input-placeholder {
  color: #add8e6;
}
textarea:-moz-placeholder {
  color: #add8e6;
}
textarea::-moz-placeholder {
  color: #add8e6;
}
textarea:-ms-input-placeholder {
  color: #add8e6;
}
.l-left {
  float: left;
}
.l-right {
  float: right;
}
.l-float {
  *zoom: 1;
}
.l-float:before,
.l-float:after {
  display: table;
  content: "";
}
.l-float:after {
  clear: both;
}
.mb {
  margin-bottom: 8px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb20 {
  margin-bottom: 20px;
}
.mt20 {
  margin-top: 20px;
}
.mt40 {
  margin-top: 40px;
}
.mt8 {
  margin-top: 8px;
}
.mt16 {
  margin-top: 16px;
}
.ml24 {
  margin-left: 24px;
}
.mr8 {
  margin-right: 8px;
}
.mr14 {
  margin-right: 14px;
}
.mr24 {
  margin-right: 24px;
}
.nav {
  background: #fff;
  color: #084f23;
  font-size: 20px;
  text-align: center;
  height: 58px;
  line-height: 58px;
}
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 34px;
}
.mian {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
}
.font-y {
  font-family: "Microsoft YaHei" Arial, sans-serif;
}
.font-s {
  font-family: "SimSun" Arial, sans-serif;
}
.fontc-bai {
  color: #ffffff;
}
.fontc-hei {
  color: #373737;
}
.fontc-hui {
  color: #818181;
}
.fontc-lv {
  color: #084f23;
}
.fontc-orange {
  color: #8f4306;
}
.fontc0 {
  color: #000 !important;
}
.fontz36 {
  font-size: 36px;
}
.fontz30 {
  font-size: 30px;
}
.fontz28 {
  font-size: 28px;
}
.fontz24 {
  font-size: 24px;
}
.fontz18 {
  font-size: 18px;
}
.fontz16 {
  font-size: 16px;
}
.fontz14 {
  font-size: 14px;
}
.fontz12 {
  font-size: 12px;
}
.fwb {
  font-weight: bold;
}
.textc {
  text-align: center;
}
.textl {
  text-align: left;
}
.textr {
  text-align: right;
}
.header {
  width: 100%;
  height: auto;
  background: #fff;
}
.topnav {
  background: #3b473f;
  color: #f4edeb;
  height: 46px;
  line-height: 46px;
}
.topnav a {
  color: #f4edeb;
}
.topnav a:hover {
  text-decoration: underline;
}
.top-head {
  height: 138px;
  width: auto;
  overflow: hidden;
}
.top-head .logo {
  margin-top: 22px;
  margin-left: 24px;
}
.top-head .logo span {
  font-size: 36px;
  color: #084f23;
  line-height: 100px;
  font-weight: bold;
  margin-left: 24px;
}
.top-head .c-mail a {
  font-size: 18px;
  color: #084f23;
  display: block;
  height: 40px;
  width: 126px;
  line-height: 40px;
  margin-left: 256px;
  margin-top: 30px;
}
.top-head .c-mail a i {
  width: 40px;
  height: 40px;
  display: inline-block;
  background: #084f23 url(../../images/icon-email.png ) center center no-repeat;
  border-radius: 40px;
}
.top-head .c-mail a span {
  display: inline-block;
  position: relative;
  top: -12px;
  margin-left: 10px;
}
.top-head .c-mail a:hover i {
  background: #0b7333 url(../../images/icon-email.png ) center center no-repeat;
  transition: 0.2s ease-out;
  cursor: pointer;
  white-space: nowrap;
}
.top-head .search {
  width: 280px;
  height: 42px;
  line-height: 42px;
  background: #113d2b;
  margin-top: 30px;
  margin-left: 26px;
}
.top-head .search input {
  border: none;
  background: none;
  height: 39px;
  width: 220px;
  padding-left: 8px;
  color: #fff;
}
.top-head .search a {
  width: 48px;
  height: 28px;
  margin-top: 7px;
  display: inline-block;
  background: url(../../images/icon-search.png) center center no-repeat;
  float: right;
  border-left: 1px solid #084f23;
  text-indent: -9999px;
  cursor: pointer;
}
.nav li {
  float: left;
  display: block;
  width: 149px;
  height: 58px;
}
.nav li a {
  height: 34px;
  width: 150px;
  line-height: 34px;
  margin-top: 12px;
  display: block;
  border-right: 1px solid #113d2b;
}
.nav :hover {
  background: #084f23;
  border-right: none !important;
  transition: 0.2s ease-out;
  cursor: pointer;
  white-space: nowrap;
}
.nav :hover a:hover {
  color: #fff;
  background: none;
}
.nav .active {
  width: 150px;
  line-height: 34px;
  background: #084f23 !important;
}
.nav .active a {
  color: #fff !important;
}
.l-banner-box {
  width: 1200px;
  height: 532px;
  display: block;
  overflow: hidden;
}
.section-focus-pic {
  position: relative;
  overflow: hidden;
  width: 1200px;
  height: 532px;
  margin: 0 auto 20px auto;
}
.section-focus-pic ul li {
  position: absolute;
  top: 0;
  left: 1200px;
  width: 1200px;
  height: 532px;
}
.section-focus-pic .pages {
  width: 1200px;
  height: 532px;
}
.section-focus-pic .controler {
  position: absolute;
  right: 426px;
  bottom: 26px;
}
.section-focus-pic .controler b {
  display: block;
  float: left;
  overflow: hidden;
  width: 58px;
  height: 12px;
  margin: 0 0 0 14px;
  cursor: pointer;
  text-indent: -9999px;
  background: url(../../images/btn-banner-nor.png) center center no-repeat;
}
.section-focus-pic .controler b.down {
  background: url(../../images/btn-banner-hov.png) center center no-repeat;
}
.section-focus-pic .controler2 a {
  position: absolute;
  top: 50%;
  display: block;
  width: 42px;
  height: 92px;
  margin-top: -46px;
}
.section-focus-pic .controler2 a i {
  display: block;
  width: 42px;
  height: 92px;
  cursor: pointer;
}
.section-focus-pic .controler2 .prev {
  left: 5px;
}
.section-focus-pic .controler2 .prev i {
  background: url(../../images/btn-prev.png) center center no-repeat;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.section-focus-pic .controler2 .prev:hover i {
  opacity: 1;
  filter: alpha(opacity=100);
}
.section-focus-pic .controler2 .next {
  right: 5px;
}
.section-focus-pic .controler2 .next i {
  background: url(../../images/btn-next.png) center center no-repeat;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.section-focus-pic .controler2 .next:hover i {
  opacity: 1;
  filter: alpha(opacity=100);
}
.section-focus-pic .item-tit {
  position: absolute;
  top: 180px;
  left: 84px;
  font-size: 36px;
  font-weight: bold;
  width: auto;
  height: 82px;
  line-height: 82px;
  color: #3b473f;
}
.section-focus-pic .item-tit span {
  background: rgba(255, 255, 255, 0.8);
  margin-top: 6px;
  padding: 0 8px;
}
.l-banner-md {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 20px;
}
.l-notice {
  height: 68px;
  background: #fff;
  display: block;
  margin: 20px 0;
  line-height: 68px;
}
.BreakingNewsController {
  width: 100%;
  overflow: hidden;
  background: #FFF;
  height: auto;
  position: relative;
}
.BreakingNewsController .bn-title {
  display: inline-block;
  float: left;
  width: 200px;
  height: 68px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: #fff;
}
.BreakingNewsController ul {
  padding: 0;
  margin: 0;
  display: block;
  list-style: none;
  position: absolute;
  left: 236px;
}
.BreakingNewsController ul li {
  list-style: none;
  width: 876px;
  height: 68px;
  line-height: 68px;
  display: none;
}
.BreakingNewsController ul li a {
  text-decoration: none;
  display: inline-block;
  overflow: hidden;
  padding: 0;
  font-size: 24px;
  color: #8f4306;
}
.BreakingNewsController ul li span {
  float: right;
}
.BreakingNewsController .bn-arrows {
  display: inline-block;
  float: right;
  width: 64px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}
.BreakingNewsController .bn-arrows span {
  display: block;
  width: 64px;
  position: absolute;
  top: 0;
  bottom: 0;
  cursor: pointer;
  opacity: 1;
}
.BreakingNewsController .bn-arrows span:hover {
  opacity: 0.6;
}
.BreakingNewsController .bn-arrows-left {
  left: 0;
  background: url(../../images/icon-up.png) top center no-repeat;
}
.BreakingNewsController .bn-arrows-right {
  top: 36px;
  background: url(../../images/icon-down.png) bottom center no-repeat;
}
.easing a,
.easing span {
  transition: .25s linear;
  -moz-transition: .25s linear;
  -webkit-transition: .25s linear;
}
.l-column {
  width: 100%;
  display: block;
  background: none;
  overflow: hidden;
}
.column-li-l {
  width: 796px;
  height: auto;
  float: left;
}
.column-li-r {
  width: 390px;
  height: auto;
  float: right;
}
.column-tit {
  position: relative;
  top: -20px;
  text-indent: 12px;
  display: inline-block;
  height: 52px;
  width: 100%;
  border-bottom: 2px solid #084f23;
}
.list-tit {
  position: relative;
  top: 20px;
  height: 42px;
  display: inline-block;
  font-size: 24px;
  color: #113d2b;
  font-weight: bold;
  background: url(../../images/icon-titdec.png) bottom center no-repeat;
}
.btn-more {
  float: right;
  display: inline-block;
  width: 70px;
  font-size: 14px;
  color: #3b473f;
  font-weight: bold;
  text-indent: 32px;
  line-height: 54px;
  background: url(../../images/icon-more.png) left center no-repeat;
}
.l-list-item1 {
  background: #fff;
  display: inline-block;
  width: 796px;
  margin-bottom: 20px;
}
.l-list-item1 .l-item-l {
  width: 458px;
  float: left;
  display: inline-block;
  margin-right: 16px;
}
.l-list-item1 .item-pic {
  display: inline-block;
  width: 230px;
  height: 154px;
  margin: 14px 8px;
}
.l-list-item1 .item-info {
  width: 212px;
  display: inline-block;
}
.l-list-item1 .item-info .info-tit {
  display: inline-block;
  margin-top: 14px;
  font-size: 18px;
  height: 24px;
  line-height: 24px;
  background: url(../../images/icon-point.png) left no-repeat;
  text-indent: 8px;
}
.l-list-item1 .item-info .info-tit a {
  color: #084f23;
}
.l-list-item1 .item-info .info-tit a:hover {
  text-decoration: underline;
}
.l-list-item1 .item-info .info-source {
  display: inline-block;
  color: #8f4306;
  font-size: 12px;
  margin: 20px 0;
}
.l-list-item1 .item-info .info-detail {
  display: inline-block;
  width: 212px;
  height: 56px;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: auto;
}
.l-list-item1 .l-item-r {
  float: left;
}
.l-list-item1 .l-item-r ul {
  display: block;
  width: 322px;
  margin-top: 14px;
}
.l-list-item1 .l-item-r ul li {
  display: inline-block;
  height: 30px;
  width: 322px;
  line-height: 30px;
}
.l-list-item1 .l-item-r ul li a {
  width: 224px;
  display: inline-block;
  background: url(../../images/icon-point-s.png) left center no-repeat;
  text-indent: 8px;
  font-size: 14px;
  color: #084f23;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: nowrap;
}
.l-list-item1 .l-item-r ul li a:hover {
  text-decoration: underline;
}
.l-list-item1 .l-item-r ul li span {
  float: right;
  margin-right: 8px;
  color: #8f4306;
}
.l-list-item2 {
  background: #fff;
  display: inline-block;
  width: 390px;
  margin-bottom: 20px;
}
.l-list-item2 .item-pic2 {
  display: inline-block;
  width: 344px;
  height: 230px;
  margin: 20px 24px;
}
.l-list-item2 .item-lay-tit {
  display: inline-block;
  height: 40px;
  width: 344px;
  position: relative;
  top: -60px;
  left: 24px;
  font-size: 18px;
  line-height: 40px;
  text-indent: 14px;
  background: rgba(0, 0, 0, 0.8);
}
.l-list-item2 .item-lay-tit a {
  color: #f4edeb;
}
.l-item-b ul {
  display: inline-block;
  width: 344px;
  margin: -40px 24px 20px 24px;
}
.l-item-b ul li {
  display: inline-block;
  height: 28px;
  line-height: 28px;
}
.l-item-b ul a {
  width: 250px;
  display: inline-block;
  background: url(../../images/icon-point-s.png) left center no-repeat;
  text-indent: 8px;
  font-size: 14px;
  color: #084f23;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: nowrap;
}
.l-item-b ul a:hover {
  text-decoration: underline;
}
.l-item-b ul span {
  float: right;
  margin-right: 8px;
  color: #8f4306;
}
.footer {
  width: 100%;
  height: auto;
  display: block;
  background: #3b473f;
}
.footer-section {
  display: block;
  padding-bottom: 20px;
}
.footer-section .intro {
  display: inline-block;
  width: 392px;
  margin-top: 24px;
  margin-left: 8px;
}
.footer-section .intro .footer-logo {
  display: inline-block;
}
.footer-section .intro .footer-logo span {
  color: #fff;
  font-size: 28px;
  margin: 36px 14px;
}
.footer-section .intro .footer-detail {
  display: inline-block;
  font-size: 12px;
  color: #fff;
  text-indent: 24px;
  margin-top: 20px;
  line-height: 18px;
}
.footer-section .foot-tit {
  display: inline-block;
  color: #fff;
  font-size: 18px;
}
.footer-section .foot-link {
  display: inline-block;
  width: 300px;
  padding: 24px 44px 0 46px;
}
.footer-section .foot-link .link-section {
  margin-top: 24px;
}
.footer-section .foot-link .link-section ul li {
  display: inline-block;
  float: left;
  background: rgba(244, 237, 235, 0.35);
  margin: 0 6px 6px 0;
}
.footer-section .foot-link .link-section ul li a {
  width: 94px;
  height: 34px;
  display: inline-block;
  color: #f4edeb;
  text-align: center;
  font-size: 18px;
  line-height: 34px;
}
.footer-section .foot-link .link-section ul li :hover {
  background: rgba(59, 71, 63, 0.8);
  transition: 0.2s ease-out;
}
.footer-section .contact {
  display: inline-block;
  width: 374px;
  padding: 24px 8px 0 8px;
  margin-left: 20px;
}
.footer-section .contact-us {
  display: block;
  margin-top: 24px;
}
.footer-section .contact-us ul li {
  display: block;
  font-size: 14px;
  line-height: 30px;
  color: #fff;
}
.footer-section .contact-us ul li span {
  display: block;
  float: left;
}
.footer-section .contact-us ul li .w304 {
  width: 290px;
  display: inline-block;
}
.copyright {
  background: rgba(0, 0, 0, 0.94);
  height: 58px;
  display: block;
  line-height: 58px;
  font-size: 14px;
  color: #f4edeb;
}
.copyright span a {
  color: #f4edeb;
}
.sidebar {
  display: block;
  width: 322px;
  background: #113d2b;
  margin-bottom: 20px;
}
.sidebar .menu-tit {
  height: 50px;
  width: 322px;
  display: inline-block;
  border-bottom: 1px solid #084f23;
  background: url(../../images/icon-menu.png) 14px center no-repeat;
  text-indent: 56px;
  line-height: 50px;
  font-size: 24px;
  color: #fff;
}
/*left*/
.leftsidebar_box {
  display: block;
  height: 860px;
}
.leftsidebar_box dt {
  padding-right: 10px;
  color: #fff;
  text-indent: 40px;
  font-size: 18px;
  position: relative;
  line-height: 58px;
  cursor: pointer;
  border-bottom: 1px solid #084f23;
}
.leftsidebar_box dt img {
  position: absolute;
  right: 24px;
  top: 24px;
}
.leftsidebar_box dd {
  background: #113d2b;
  text-indent: 40px;
}
.leftsidebar_box dd a {
  display: block;
  width: 322px;
  color: #fff;
  line-height: 40px;
}
.leftsidebar_box dd a:hover {
  background: #084f23;
}
.leftsidebar_box dl dd:last-child {
  padding-bottom: 10px;
}
.l-col-content {
  display: inline-block;
  width: 878px;
  float: left;
  background: #fff;
  padding-top: 18px;
  margin-bottom: 20px;
}
.l-col-content .column-tit span {
  display: inline-block;
  margin-right: 8px;
  float: left;
  font-size: 20px;
  color: #113d2b;
  font-weight: bold;
}
.l-col-content .tit-next {
  display: inline-block;
  margin-top: 20px;
}
.l-col-content .tit-text {
  display: inline-block;
  margin-top: 18px;
}
.col-list {
  display: block;
  padding-bottom: 20px;
}
.col-list ul li {
  display: inline-block;
  padding: 0 8px 16px 8px;
  border-bottom: 1px solid #113d2b;
}
.col-list .col-list-pic {
  display: inline-block;
  width: 225px;
  height: 149px;
  float: left;
  overflow: hidden;
  margin-right: 16px;
}
.col-list .col-list-info {
  display: inline-block;
  width: 620px;
  float: left;
}
.col-list .col-list-info .col-list-tit {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
.col-list .col-list-info .col-list-tit a {
  color: #084f23;
}
.col-list .col-list-info .col-list-tit a:hover {
  text-decoration: underline;
}
.col-list .col-list-info .col-list-source {
  font-size: 14px;
  color: #8f4306;
  margin-bottom: 10px;
}
.col-list .col-list-info .col-list-source span {
  margin-right: 32px;
}
.col-list .col-list-info .col-list-info {
  font-size: 14px;
  color: #313131;
  line-height: 18px;
}
.btn-download a {
  width: 98px;
  height: 34px;
  display: inline-block;
  line-height: 34px;
  text-align: center;
  font-size: 14px;
  background: #084f23;
  color: #fff;
  margin-top: 10px;
}
.col-num-link {
  width: 100%;
  display: inline-block;
  text-align: center;
  height: 28px;
  line-height: 28px;
  font-size: 18px;
  color: #113d2b;
  margin-bottom: 16px;
  padding: 0 182px;
}
.col-num-link span {
  float: left;
  margin-left: 8px;
}
.col-num-link a {
  display: inline-block;
  background: #fff;
  color: #113d2b;
  border: 1px solid #113d2b;
}
.col-num-link a:hover {
  background: #113d2d;
  color: #fff;
  transition: 0.2s ease-out;
}
.col-num-link .active a {
  background: #113d2d !important;
  color: #fff !important;
}
.col-num-link .num-text a {
  width: 68px;
}
.col-num-link .num-text input {
  width: 68px;
  height: 26px;
  border: 1px solid #113d2b;
  float: left;
  font-size: 18px;
}
.col-num-link .num a {
  width: 28px;
}
.info {
  display: inline-block;
  padding: 16px 8px;
}
.info .page-tit {
  text-align: center;
  font-size: 24px;
  color: #084f23;
  font-weight: bold;
}
.info .page-source {
  font-size: 14px;
  text-align: center;
  color: #8f4306;
  margin-top: 18px;
}
.info .page-sum,
.info .page-info {
  margin-top: 18px;
  font-size: 18px;
  line-height: 30px;
}
.info .page-sum > p,
.info .page-info > p {
  text-indent: 36px;
}
.info .page-infotit {
  color: #084f23;
}
.info .page-img {
  margin: 14px auto;
  text-align: center;
}
